* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.css-geneartor-element {
    height: 50vh;
    background: #369;
    position: relative;
    transition: all 0.3s;
}

.generator-controller {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: #ccc;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    transition: all 0.3s;
}

.filds-container {
    display: flex;
    justify-content: space-between;
}

.filds-container span {
    padding: 10px 30px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.activ-fild {
    border-bottom: 2px solid #9933ff;
    color: #9933ff;
}

.inactive-fild {
    border: none;
    transition: all 0.8s;
}

.view-containr {
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    padding: 20px 0px;
}


.view-containr li {
    height: 100%;
    width: 15%;
    border: 1px solid;
    cursor: pointer;
    list-style-type: none;
    border-radius: 3px;
}

.hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.arrow{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    transition: all 0.3s;
    margin-right: 5px;
}
.open{
    transform: rotate(-45deg);
}
.close {
    transform: rotate(135deg);
}
.hidden-btn {
    cursor: pointer;
}
.close-controller {
    height: 80px;
}